<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		body {
			color: azure;
			background-color: midnightblue;
			text-align: center;
			padding-top: 100px;
		}
	</style>
	<title>About Node.js - уроки</title>
</head>

<body>
	<h1>Страница про нас</h1>
	<p>Текст заглушка: Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti nemo pariatur officia culpa
		libero ipsa id voluptas distinctio accusantium minima?</p>
	<a href="/">Главная</a>
</body>

</html>